* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
  color: #0f0d0d;
}

html,
body {
  height: 100%;
  width: 100%;
}



.main {
  background-color: white;
}

.page1 {
  min-height: 160vh;
  width: 100vh;

}

#nav {
  height: 55px;
  width: 190%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.12);
}


#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
 
}

#nav-part3 button {
  height: 45px;
  width: 230%;
  background-color: orangered;
  margin-left: 710%;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 600;
  border-color: orangered;
}

#nav-part3 button a{
  color: #0f0d0d;
  text-decoration: none;
}

#nav-part2 h4 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 100;
  
  
}

#nav-part2 h4 a {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 100;
  color: #0f0d0d;
  text-decoration: none;
  
}
#nav h4:nth-child(1) {
  border-bottom: 2px solid black;
}

.page1 h1 {
  width: 190%;
  font-size: 6vw;
  font-weight: 400;
  font-family: PP mori;
  margin-top: 3vw;
  margin-left: 6vw;

}

.page1 h2 {
  width: 190%;
  font-size: 4vw;
  font-weight: 400;
  font-family: PP mori;
  margin-left: 50vw;
}

.page1 img {
  width: 100%;
  margin-left: 30%;
  margin-top: 5vw;
  height: 350px;
}

.part4 {
  
  display: flex;
  align-items: center;
  justify-content: center;

}

.part4-a h3 {
  width: 190%;
  margin-left: 70%;
  color: orangered;
  font-size: 2.5rem;
}

.part4-a h4 {
  width: 190%;
  margin-left: 70%;
  font-size: 1.8rem;
}


 /**page 2**/
 
 .ourself{
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 130%;
  margin-left: 30%;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  
 }
 .ourself h2{
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: 3.5%;
  margin-left: 67%;
  color: aliceblue;
 }
 .box{
  width:50%;
  height:400px;
  margin-left: 27%;
  margin-top: 3%;
  border:2px solid white;
  background-color: white;
  border-radius: 7px;
  color: aliceblue;
 }
 .box h3{

  font-size: 1.5rem;
  font-weight: 100;
  align-items: center;
  color: #0f0d0d;
 
 }
 